//todo Выравнивание картинок и текста сделано на скорую руку, по-хорошему должен подготовить изображения в фотошопе, а потом их использовать.

.ChatSelector {
  display: grid;
  grid-area: b;
  grid-template-areas: 'bc cc';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 0 450px 0 350px;
  font-size: 30px;
  font-weight: bold;
  .BusinessChat {
    grid-area: bc;
    text-decoration: none;
    color: orangered;
    img {
      width: 550px;
    }
  }
  .CasualChat {
    grid-area: cc;
    text-decoration: none;
    color: orangered;
    img {
      padding-top: 89px;
      width: 430px;
      padding-bottom: 22px;
    }
  }
  .BusinessChatText{
    padding-left: 120px;
  }
  .CasualChatText{
    padding-left: 50px;
  }
}
