//todo Бэкграунд изображение нужно перенести в папку паблик.

.Chat {
  display: grid;
  grid-area: b;
  grid-template-areas: 'a m';
  grid-template-columns: 2fr 3fr;
  text-align: left;

  .Message {
    padding-bottom: 20px;
  }

  .Title {
    font-weight: bold;
    color: orangered;
    padding-bottom: 50px;
  }

  .Articles {
    grid-area: a;
  }

  .Messages {
    grid-area: m;
    text-align: justify;
  }

  .Correspondence {
    overflow-y: scroll;
    padding-right: 10px;
  }
  .EditButton {
    width: 30px;
    margin: 0 0 0 5px;
  }

  input{
    padding: 4px 0 4px 0;
    border-width: 1px;
    border-color:#325773;
    outline: none;
  }

  ::-webkit-scrollbar{
    width:12px;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #bacbdb;
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: #77cbd2;
  }

  ::-webkit-scrollbar-thumb:active{
    background-color: #325773;
  }

  button {
    color: #325773;
    background: #bacbdb;
    padding: 5px 0 5px 0;
    outline: none;
    border: none;
  }
  button:hover {
    background: #77cbd2;
  }
  button:active {
    background: #325773;
  }
}

@media (max-width: 1920px) {
  .Chat {
    background: url('/message.jpg') no-repeat bottom 100px right 150px;
    padding: 150px 400px 0 400px;
    font-size: 20px;
    button {
      width: 150px;
      margin-left: 30px;
      margin-top: 50px;
    }
  }
  .Title {
    font-size: 30px;
  }
  .Messages {
    padding-right: 150px;
  }
  .Correspondence {
    height: 400px;
  }
}

@media (max-width: 1680px) {
  .Chat {
    background: url('/message.jpg') no-repeat bottom 100px right 120px;
    background-size: 400px;
    padding: 150px 300px 0 300px;
    font-size: 18px;
    button {
      width: 130px;
      margin-left: 30px;
      margin-top: 40px;
    }
  }
  .Title {
    font-size: 28px;
  }
  .Messages {
    padding-right: 120px;
  }
  .Correspondence {
    height: 350px;
  }
}

@media (max-width: 1440px) {
  .Chat {
    background: url('/message.jpg') no-repeat bottom 100px right 90px;
    background-size: 350px;
    padding: 100px 200px 0 200px;
    font-size: 16px;
    button {
      width: 100px;
      margin-left: 30px;
      margin-top: 0;
    }
  }
  .Title {
    font-size: 24px;
  }
  .Messages {
    padding-right: 90px;
  }
  .Correspondence {
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .Chat {
    background: url('/message.jpg') no-repeat bottom 100px right 60px;
    background-size: 200px;
    padding: 75px 100px 0 100px;
    font-size: 14px;
    button {
      width: 100px;
      margin-left: 30px;
      margin-top: 0;
    }
  }
  .Title {
    font-size: 22px;
  }
  .Messages {
    padding-right: 60px;
  }
  .Correspondence {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .Chat {
    background: url('/message.jpg') no-repeat bottom 100px right 30px;
    background-size: 150px;
    padding: 50px 50px 0 50px;
    font-size: 14px;
  }
  .Title {
    font-size: 20px;
  }
  .Messages {
    padding-right: 30px;
  }
  .Correspondence {
    height: 200px;
  }
}